// colors
$mainDarkColor:#084884;
$secondaryColor:#1872c5;



// resets
$marginReset: 0px -15px;

@import "includes/heading";
@import "includes/top_slider";
@import "includes/randoms";
@import "includes/services-header";
@import "includes/services-slider";
@import "includes/paralax";
@import "includes/customers";
@import "includes/blog";
@import "includes/footer";
@import "includes/gallery";

